html, body {font-size: 16px;}
    p {font-family: 'Roboto Mono', monospace, 'Nanum Gothic', sans-serif, 'Source Serrif Pro', serif;
    font-weight: 400;
    line-height: 1.4em; }

    body {background-color:  rgb(174, 201, 250);}

    h1, h2 { font-family: 'Nanum Gothic', sans-serif, 'Roboto Mono', monospace; 'Source Serif Pro', serif;}
    h1 {font-weight: 700;}
    h2 {font-weight: 500;}

    p {line-height: 1.4em;}

    h1 {text-transform: capitalize; 
        font-size: 3em; 
        word-spacing: .5em;
        text-align: center;}

    h2 {font-size: 3em;
        word-spacing: .1em;
        margin: 0;
        text-align: center;
        padding-top: 15px;}
    

    address  {font-family: 'Source Serif Pro', serif, 'Nanum Gothic', sans-serif;
    text-align: center;}
    
    address a { 
        
        font-weight: bold;
        font-size: 1.5em;
        color: #9705b4;
        text-decoration: none}

    address a:hover {text-decoration: underline;
            background-color: #00ff73;}

    address a:visited {color: #3c275a;}
